<div data-ng-show="vm.missingTransactions.length > 0">
    <h2 class="ui header">
        <div class="content">
            Missing transactions
            <div class="sub header">
                These are the transactions you need to add to this budget. If a
                transaction shows the green Inflow label you need to create an
                inflow transaction. Conversely, if the red Outflow label is
                shown you need to create an outflow transaction.
            </div>
        </div>
    </h2>
    <table class="ui table">
      <thead>
          <tr><th>Type</th>
              <th>Date</th>
        <th>Payee</th>
        <th>Memo</th>
        <th>Amount</th>
      </tr></thead>
      <tbody>
        <tr data-ng-repeat="txn in vm.missingTransactions">
          <td>
            <div class="ui center green label" data-ng-show="txn.amount < 0">
              <i class="plus icon"></i> Inflow
            </div>
            <div class="ui center red label" data-ng-hide="txn.amount < 0">
              <i class="minus icon"></i> Outflow
            </div>
          </td>
          <td><nobr>[[txn.date]]</nobr></td>
          <td>[[ vm.payees[txn.payeeId] ]]</td>
          <td>[[txn.memo]]</td>
          <td>[[txn.amount > 0 ? txn.amount : -txn.amount]]</td>
        </tr>
      </tbody>
      <tfoot>
        <tr><th colspan="2">[[vm.missingTransactions.length]] missing transactions</th>
        <th></th>
        <th></th>
        <th>
            <span data-ng-show="vm.missingTransactionsTotal < 0">You are owed:</span>
            <span data-ng-hide="vm.missingTransactionsTotal < 0">You owe:</span>
            [[vm.missingTransactionsTotal()]]
        </th>
      </tr></tfoot>
    </table>
    <button class="ui button primary" type="button" data-ng-click="vm.downloadMissingTransactions()">Download CSV to import into YNAB</button>
</div>
<div data-ng-hide="vm.missingTransactions.length > 0">
    <p></p>
    <div class="ui icon message">
      <i class="thumbs outline up icon"></i>
      <div class="content">
        <div class="header">
          This budget is up to date.
        </div>
      </div>
    </div>
</div>
