<div data-ng-controller="LocalBudgets as vm">
    <div class="ui stackable two column grid">
        <form class="form row" data-ng-submit="vm.compareBudgets()">
            <div class="column">
                <div class="fields">
                    <h1 class="ui header"><i class="user icon"></i>
                        <div class="content">Your budget</div>
                    </h1>
                    <label class="ui button">
                        <i class="file icon"></i>
                        <input type="file" id="thisBudget" data-file-property="vm.thisBudget" />
                    </label>
                    <div class="ui input">
                        <input type="text" placeholder="Target category name" data-ng-model="vm.thisTargetCategory" />
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="fields">
                    <h1 class="ui header"><i class="users icon"></i>
                        <div class="content">Their budget</div>
                    </h1>
                    <label class="ui button">
                        <i class="file icon"></i>
                        <input type="file" id="otherBudget" data-file-property="vm.otherBudget" />
                    </label>
                    <div class="ui input">
                        <input type="text" placeholder="Target category name" data-ng-model="vm.otherTargetCategory" />
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui input">
                    <input type="text" placeholder="Comparison start date" data-ng-model="vm.startDate" />
                </div>
                <br />
                <button class="ui button primary" data-ng-class="{'loading': vm.comparisonExecuting}">Compare budgets</button>
                <div class="ui error message" data-ng-show="vm.comparisonErrors.length > 0">
                    <i class="close icon" data-ng-click="vm.comparisonErrors = []"></i>
                    <div class="header">
                        There has been an error comparing budgets
                    </div>
                    <ul class="list" data-ng-repeat="error in vm.comparisonErrors">
                        <li>[[error.statusText]] (Error [[error.status]])
                            <br>[[error.data.message]]</li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <div class="ui stackable two column grid" data-ng-show="vm.comparisonAttempted">
        <div class="column">
            <missing-transaction-list data-missing-transactions="vm.thisMissingTransactions" />
        </div>
        <div class="column">
            <missing-transaction-list data-missing-transactions="vm.otherMissingTransactions" />
        </div>
    </div>
</div>
