<div data-ng-show="missingTransactions.length > 0">
    <h2 class="ui header">
        <div class="content">Missing transactions
        <div class="sub header">Add these transactions to the budget. Note the
            memo is from the other budget, it's what the other person wrote.</div>
    </h2>
    <table class="ui three column table">
      <thead>
          <tr><th>Type</th>
              <th>Date</th>
        <th>Memo</th>
        <th>Amount</th>
      </tr></thead>
      <tbody>
        <tr data-ng-repeat="txn in missingTransactions">
          <td data-ng-show="txn.amount < 0">
            <div class="ui green label">
              <i class="plus icon"></i> Inflow
            </div>
          </td>
          <td data-ng-hide="txn.amount < 0">
            <div class="ui red label">
              <i class="plus icon"></i> Outflow
            </div>
          </td>
          <td>[[txn.date]]</td>
          <td>[[txn.memo]]</td>
          <td>[[-txn.amount]]</td>
        </tr>
      </tbody>
      <tfoot>
        <tr><th>[[missingTransactions.length]] missing transactions</th>
        <th></th>
        <th></th>
        <th></th>
      </tr></tfoot>
    </table>
</div>
<div data-ng-hide="missingTransactions.length > 0">
    <p></p>
    <div class="ui icon message">
      <i class="thumbs outline up icon"></i>
      <div class="content">
        <div class="header">
          This budget is up to date.
        </div>
      </div>
    </div>
</div>
