<!doctype html>
<html data-ng-app="app">
  <head>
    <base href="/">
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - YNAB Debt Sync</title>
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2015 by <a href="http://maian.org/">John Fisher</a>.
      {% endblock %}
    </div>
  </body>
</html>
