{% extends "base.html" %}
{% block title %} Compare budgets {% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/semantic.css') }}">
    <script src="{{ url_for('static', filename='css/semantic.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/services/budgetComparerService.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controllers/budgetUploadCtrl.js') }}"></script>
    <script src="{{ url_for('static', filename='js/directives/fileVariable.directive.js') }}"></script>
    <script src="{{ url_for('static', filename='js/directives/buttonStatus.directive.js') }}"></script>
{% endblock %}
{% block content %}
<div style="padding: 2em" data-ng-app="ynabDebtSync">
    <div data-ng-controller="budgetUploadCtrl">
        <div class="ui stackable two column grid">
            <form class="form row">
                <div class="column">
                    <div class="fields">
                        <div class="ui header"><i class="user icon"></i>
                            <div class="content">Your budget</div>
                        </div>
                        <label for="thisBudget" class="ui icon button">
                            <i class="file icon"></i>
                            Choose file
                        </label>
                        <input type="file" id="thisBudget" style="display: none" data-file-variable="thisBudget" />
                        <div class="ui input">
                            <input type="text" placeholder="Target category name" data-ng-model="thisTargetCategory" />
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="fields">
                        <div class="ui header"><i class="users icon"></i>
                            <div class="content">Their budget</div>
                        </div>
                        <label for="otherBudget" class="ui icon button">
                            <i class="file icon"></i>
                            Choose file
                        </label>
                        <input type="file" id="otherBudget" style="display: none" data-file-variable="otherBudget" />
                        <div class="ui input">
                            <input type="text" placeholder="Target category name" data-ng-model="otherTargetCategory" />
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui input">
                        <input type="text" placeholder="Comparison start date" data-ng-model="startDate" />
                    </div>
                    <br />
                    <button class="ui button primary" type="button" data-ng-click="compareBudgets()" data-button-status>Compare budgets</button>
                </div>
            </form>
        </div>
        <div class="ui stackable two column grid" data-ng-show="comparisonAttempted">
            <div class="column">
                <div data-ng-show="thisMissingTransactions.length > 0">You are missing these transactions:
                    <ul>
                        <li data-ng-repeat="txn in thisMissingTransactions">[[txn.date]] — [[txn.memo]] — [[txn.amount]]
                    </ul>
                </div>
                <div data-ng-hide="thisMissingTransactions.length > 0">
                    <p>You are not missing any transactions.</p>
                </div>
            </div>
            <div class="column">
                <div data-ng-show="otherMissingTransactions.length > 0">They are missing these transactions:
                    <ul>
                        <li data-ng-repeat="txn in otherMissingTransactions">[[txn.date]] — [[txn.memo]] — [[txn.amount]]
                    </ul>
                </div>
                <div data-ng-hide="otherMissingTransactions.length > 0">
                    <p>They are not missing any transactions.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
