{% extends "base.html" %}
{% block title %} Compare budgets {% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/semantic.css') }}">
    <script src="{{ url_for('static', filename='css/semantic.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/services/budgetComparerService.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controllers/budgetUploadCtrl.js') }}"></script>
    <script src="{{ url_for('static', filename='js/directives/fileVariable.directive.js') }}"></script>
{% endblock %}
{% block content %}
<div data-ng-app="ynabDebtSync">
    <div data-ng-controller="budgetUploadCtrl">
        <form class="ui input">
            <fieldset>
                <legend>Your budget</legend>
                File: <input type="file" data-file-variable="thisBudget" /><br />
                Target category name: <input type="text" data-ng-model="thisTargetCategory" /><br />
            </fieldset>

            <fieldset>
                <legend>Their budget</legend>
                File: <input type="file" data-file-variable="otherBudget" /><br />
                Target category name: <input type="text" data-ng-model="otherTargetCategory" /><br />
            </fieldset>
            Start date: <input type="text" data-ng-model="startDate" />

            <button class="ui button" type="button" data-ng-click="compareBudgets()">Get missing transactions</button>
        </form>
        <div data-ng-show="comparisonAttempted">
            <div data-ng-show="thisMissingTransactions.length > 0">You are missing these transactions:
                <ul>
                    <li data-ng-repeat="txn in thisMissingTransactions">[[txn.date]] — [[txn.memo]] — [[txn.amount]]
                </ul>
            </div>
            <div data-ng-hide="thisMissingTransactions.length > 0">
                <p>You are not missing any transactions.</p>
            </div>
            <div data-ng-show="otherMissingTransactions.length > 0">They are missing these transactions:
                <ul>
                    <li data-ng-repeat="txn in otherMissingTransactions">[[txn.date]] — [[txn.memo]] — [[txn.amount]]
                </ul>
            </div>
            <div data-ng-hide="otherMissingTransactions.length > 0">
                <p>They are not missing any transactions.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
