{% extends "base.html" %}
{% block title %} Compare budgets {% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/semantic.css') }}">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{{ url_for('static', filename='css/semantic.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="//code.angularjs.org/1.4.3/angular-sanitize.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/core/core.module.js') }}"></script>
    <script src="{{ url_for('static', filename='js/core/budgetComparerService.js') }}"></script>
    <script src="{{ url_for('static', filename='js/layout/layout.module.js') }}"></script>
    <script src="{{ url_for('static', filename='js/layout/shell.js') }}"></script>
    <script src="{{ url_for('static', filename='js/widgets/widgets.module.js') }}"></script>
    <script src="{{ url_for('static', filename='js/widgets/missingTransactionList.directive.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dropbox/dropbox.module.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dropbox/dropbox.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dropbox/dropboxservice.js') }}"></script>
    <script src="{{ url_for('static', filename='js/localbudgets/localbudgets.module.js') }}"></script>
    <script src="{{ url_for('static', filename='js/localbudgets/localbudgets.js') }}"></script>
    <script src="{{ url_for('static', filename='js/localbudgets/config.route.js') }}"></script>
    <script src="{{ url_for('static', filename='js/localbudgets/fileProperty.directive.js') }}"></script>
{% endblock %}
{% block content %}
<div>Hello, your token is {{ session['dropbox_token'] }}</div>
<div style="padding: 2em">
    <div data-ng-include="'{{ url_for('static', filename='js/layout/shell.html') }}'">
</div>
{% endblock %}
