<div data-ng-controller="DropboxController as vm">
    <a class="ui button" ng-show="vm.isAuthenticated()" data-ng-click="vm.logOut()">Log out</a>
    <a class="ui button primary" href="[[vm.getAuthLink()]]" ng-hide="vm.isAuthenticated()">Authenticate with Dropbox</a>
    <div class="ui stackable two column grid" data-ng-show="vm.isAuthenticated()">
        <div class="row">
            <div class="column">
                <dropbox-budget-chooser data-target-budget="this" data-target-budget-path="vm.thisBudgetPath">
                <category-chooser data-chosen-category-model="vm.thisTargetCategory">
            </div>
            <div class="column">
                <dropbox-budget-chooser data-target-budget="other" data-target-budget-path="vm.otherBudgetPath">
                <category-chooser data-chosen-category-model="vm.otherTargetCategory">
            </div>
        </div>
        <div class="column">
            <div>
                <date-chooser data-chosen-date-model="vm.comparisonStartDate">
            </div>
            <button class="ui button primary" type="button" data-ng-click="vm.compare()" data-ng-class="{'loading': vm.comparisonExecuting}">Compare</button>
            <div class="ui error message" data-ng-show="vm.comparisonErrors.length > 0">
                <i class="close icon" data-ng-click="vm.comparisonErrors = []"></i>
                <div class="header">
                    There has been an error comparing budgets
                </div>
                <ul class="list" data-ng-repeat="error in vm.comparisonErrors">
                    <li>[[error.statusText]] (Error [[error.status]])
                        <br>[[error.data.message]]</li>
                </ul>
            </div>
        </div>
        <div class="row" data-ng-show="vm.comparisonAttempted">
            <div class="column sixteen wide">
                <div class="ui two column stackable grid">
                    <div class="column">
                        <missing-transaction-list data-missing-transactions="vm.thisMissingTransactions" data-payees="vm.thisMissingPayees" />
                    </div>
                    <div class="column">
                        <missing-transaction-list data-missing-transactions="vm.otherMissingTransactions" data-payees="vm.otherMissingPayees" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
